body {
	background-color: #1d2123;
	color: #d0d0d0;
	font-family: Helvetica, arial, sans-serif;
}
#wrapper {
	margin: 0 auto;
	width: 800px;
	background-color: #25292C;

}

h1 {
	text-align: center;
	padding: .5em;
}